aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
dashscope==1.22.1
distro==1.9.0
easyocr==1.7.2
filelock==3.16.1
frozenlist==1.5.0
fsspec==2024.12.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
Jinja2==3.1.5
jiter==0.8.2
lazy_loader==0.4
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
ninja==1.11.1.3
numpy==2.2.2
openai==1.59.9
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pdf2image==1.17.0
pillow==11.1.0
propcache==0.2.1
pyclipper==1.3.0.post6
pydantic==2.10.5
pydantic_core==2.27.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
python-bidi==0.6.3
PyYAML==6.0.2
requests==2.32.3
scikit-image==0.25.0
scipy==1.15.1
shapely==2.0.6
sniffio==1.3.1
sympy==1.13.1
tifffile==2025.1.10
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
yarl==1.18.3
